/* .tri-state-toggle {
    background: white;
    box-shadow: inset 0 10px 8px 0 rgb(155 158 161 / 24%);
    overflow: hidden;
    display: inline-flex;
    padding: 2px;
    flex-direction: row;
    height: 19px;
    width: 44px;
    transition: all 500ms ease;
    position: absolute;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 5.5rem;
    margin-left: -3.8rem;
    border: 1px solid #5e51514f;
    border-radius: 50rem;
} */


.tri-state-toggle {
    background: white;
    box-shadow: inset 0 1px 7px 0 rgb(52 220 161);
    overflow: hidden;
    display: flex;
    padding: 2px;
    flex-direction: row;
    height: 20px;
    width: 3rem;
    transition: all 500ms ease;
    position: relative;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 5.5rem; */
    margin-left: 16px;
    border: 1px solid #5e51514f;
    border-radius: 50rem;
    justify-items: center;
}

.tri-state-toggle-button {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0 solid transparent;
    color: #727C8F;
    cursor: pointer;
    height: 13px;
    width:13px;
    transition: all 0.5s ease;
}
.none.active {
    border-radius: 100%;
    background-color: #f11616;
    border: 1px solid rgba(207, 207, 207, 0.6);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.zero.active {
    border-radius: 100%;
    background-color: rgb(104 95 95 / 45%);
    border: 1px solid rgba(207, 207, 207, 0.6);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: #646464;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.yes.active {
    border-radius: 100%;
    background-color: rgb(15, 159, 38);
    border: 1px solid rgba(207, 207, 207, 0.6);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: #646464;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.yes:focus {
    outline: none;
}

.zero:focus {
    outline: none;
}

.none:focus {
    outline: none;
}
