html,
body {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}